// Variables
$taupe: #463F3A;
$battleship-gray: #8A817C;
$silver: #BCB8B1;
$isabelline: #F4F3EE;
$melon: #E0AFA0;
$default-font: 'KodeMono-VariableFont_wght';

@font-face {
    font-family: 'KodeMono-VariableFont_wght';
    src: url(../assets/fonts/Kode_Mono/KodeMono-VariableFont_wght.ttf);
}


*{
    margin: 0;
    font-family: $default-font;
}

html{
    box-sizing: border-box;
}
body{
    background-image: url(../assets/images/Rect\ Light.svg);
    object-fit: cover;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header.pageTitle{
    padding: 1rem;
    text-align: center;
    color: $taupe;
    border-bottom: 2px solid $taupe;
    h1.title{

    }
}

.calculatorContainer{
    background-color: $battleship-gray;
    margin-block: 3rem;
    padding: 1.5rem;
    border-radius: .5rem;
    .numField{
        height: 3rem;
        background-color: $silver;
        border-radius: .4rem;
        margin-bottom: 1rem;
    }
}

.calcRow{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-block-end: 1rem;
    .calcBtn{
        border-radius: .4rem;
        padding-block: .5rem;
        padding-inline: 1rem;
        font-size: 1.2rem;
        border-color: $melon;
    }
    #zero{
        padding-inline: 3.05rem;
    }
    #negate{
        padding-inline: .3rem;
    }
    #AC{
        padding-inline: .6rem;
    }
}