// Variables
$taupe: #463F3A;
$battleship-gray: #8A817C;
$silver: #BCB8B1;
$isabelline: #F4F3EE;
$melon: #E0AFA0;
$default-font: 'KodeMono-VariableFont_wght';

@font-face {
    font-family: 'KodeMono-VariableFont_wght';
    src: url(../assets/fonts/Kode_Mono/KodeMono-VariableFont_wght.ttf);
}

